######################
# Spring boot specific
######################

# Java build
target/
*.jar
*.war

# Maven or Gradle wrapper logs
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd

# IDE files
# IntelliJ
.idea/
*.iml
*.iws

# Logs
app.log.*
app.log

# Environment/Sensitive config
#.env
#*.local.*
#application-local.yml
#application-dev.yml
#application-test.yml


